<div class="gallery m-3">
  <div class="container">
    <div class="section-header text-center">
      <p class="mb-0">Nossa Galeria</p>
      <h2>Conheça Nosso Trabalho</h2>
    </div>

    <div class="row container">
      <div class="col-lg-4 col-md-6 col-sm-12 item" data-item="corte">
        <div class="gallery-wrap">
          <a>
            <img src="assets/img/portfolio-1.jpg" alt="Portfolio Image" />
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 item" data-item="barba">
        <div class="gallery-wrap">
          <a>
            <img src="assets/img/portfolio-2.jpg" alt="Portfolio Image" />
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 item" data-item="pintura">
        <div class="gallery-wrap">
          <a>
            <img src="assets/img/portfolio-3.jpg" alt="Portfolio Image" />
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 item" data-item="corte">
        <div class="gallery-wrap">
          <a>
            <img src="assets/img/portfolio-4.jpg" alt="Portfolio Image" />
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 item" data-item="barba">
        <div class="gallery-wrap">
          <a>
            <img src="assets/img/portfolio-5.jpg" alt="Portfolio Image" />
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 item" data-item="pintura">
        <div class="gallery-wrap">
          <a>
            <img src="assets/img/portfolio-6.jpg" alt="Portfolio Image" />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <a routerLink="/" class="btn btn-outline-dark text-center btn-sm"
      >Pagina Inicial<i class="bi bi-house ps-2"></i
    ></a>
  </div>
</div>
