<div class="contact">
    <div class="container">
      <div class="section-header text-center py-3">
        <h2>Nos Envie uma Mensagem</h2>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-6">
          <div class="contact-img img-fluid">
            <img src="assets/img/logo.png" alt="Logo" />
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="contact-form p-4">
            <form>
              <div>
                <label for="Name" class="form-label">Nome</label>
                <input type="text" class="form-control" id="nome" required />
              </div>
              <div>
                <label for="phoneNumber" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="nome" required />
              </div>
              <div>
                <label for="Email1" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email1" />
              </div>
              <div>
                <label for="subject" class="form-label">Assunto</label>
                <input type="text" class="form-control" id="subject" />
              </div>
              <div class="mb-4">
                <label for="Textarea" class="form-label">Mensagem</label>
                <textarea
                  class="form-control"
                  id="Textarea"
                  rows="3"
                  required
                ></textarea>
              </div>
              <button type="submit" class="btn btn-outline-light btn-sm">
                Enviar<i class="bi bi-send ps-2"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  