/*team styling */
.team .team-img {
    position: relative;
  }
  
  .team .team-img::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    background: transparent;
    border: 1px solid #f6f6f7;
    transition: 0.3s;
    z-index: 1;
  }
  
  .team .team-img img {
    width: 100%;
  }
  .team .team-item:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.07) translateY(-5%);
    box-shadow:
    0px 0px 1.8px rgba(0, 0, 0, 0.234),
    0px 0px 6px rgba(0, 0, 0, 0.346),
    0px 0px 27px rgba(0, 0, 0, 0.58)
  ;
  }