<div class="locations p-3">
    <div class="container p-3">
        <div class="section-header text-center pb-3 m-0">
            <p class="mb-0">Como Chegar</p>
            <h2>Veja Como Nos Encontrar Quando Estiver Próximo</h2>
        </div>

        <div class="d-flex justify-content-center">
            <a>
                <img class="border" src="assets/img/ComoChegar.jpg" alt="Location" />
            </a>
        </div>
    </div>
    <div class="text-center mt-3">
        <a routerLink="/" class="btn btn-outline-dark text-center btn-sm"
        >Pagina Inicial<i class="bi bi-house ps-2"></i></a>
      </div>
</div>

