<div class="price m-3">
  <div class="container">
    <div class="section-header text-center pb-3">
      <p class="mb-0">Nossos Preços</p>
      <h2>Oferecemos o Custo Benefício da Cidade!</h2>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="price-item">
          <div class="price-img">
            <img src="assets/img/price-1.jpg" alt="Image" />
          </div>
          <div class="price-text ps-2 ps-2">
            <h5>{{ servicos.serv1.type }}</h5>
            <p>{{ servicos.serv1.price }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="price-item">
          <div class="price-img">
            <img src="assets/img/degrade.jpeg" alt="Image" />
          </div>
          <div class="price-text ps-2">
            <h5>{{ servicos.serv2.type }}</h5>
            <p>{{ servicos.serv2.price }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="price-item">
          <div class="price-img">
            <img src="assets/img/price-2.jpg" alt="Image" />
          </div>
          <div class="price-text ps-2">
            <h5>{{ servicos.serv3.type }}</h5>
            <p>{{ servicos.serv3.price }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="price-item">
          <div class="price-img">
            <img src="assets/img/price-3.jpg" alt="Image" />
          </div>
          <div class="price-text ps-2">
            <h5>{{ servicos.serv4.type }}</h5>
            <p>{{ servicos.serv4.price }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="price-item">
          <div class="price-img">
            <img src="assets/img/price-4.jpg" alt="Image" />
          </div>
          <div class="price-text ps-2">
            <h5>{{ servicos.serv5.type }}</h5>
            <p>{{ servicos.serv5.price }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="price-item">
          <div class="price-img">
            <img src="assets/img/price-5.jpg" alt="Image" />
          </div>
          <div class="price-text ps-2">
            <h5>{{ servicos.serv6.type }}</h5>
            <p>{{ servicos.serv6.price }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="price-item">
          <div class="price-img">
            <img src="assets/img/price-6.jpg" alt="Image" />
          </div>
          <div class="price-text ps-2">
            <h5>{{ servicos.serv7.type }}</h5>
            <p>{{ servicos.serv7.price }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="price-item">
          <div class="price-img">
            <img src="assets/img/price-7.jpg" alt="Image" />
          </div>
          <div class="price-text ps-2">
            <h5>{{ servicos.serv8.type }}</h5>
            <p>{{ servicos.serv8.price }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
        <a routerLink="/" class="btn btn-outline-dark text-center btn-sm"
        >Pagina Inicial<i class="bi bi-house ps-2"></i></a>
      </div>
  </div>
</div>
